Package: com.idoitmelon.andante
Name: andante
Version: 0.0.1
Architecture: iphoneos-arm
Description: A tweak aim to utilize Ai as a enchanced assistant for iOS.
Maintainer: idoit_melon
Author: idoit_melon
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
